.coming-soon-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 70px;
}

.coming-soon-title {
  font-size: 14vw; /* Adjust the value as needed */
  color: white; /* A vibrant color for the title */
  padding-bottom: 20px; /* Space between the title and text */
}

.coming-soon-text {
  font-size: 5vw; /* Larger font size for the text */
  color: white; /* Darker color for the text */
  text-align: center; /* Center the text */
}
 /* Optional: Add a subtle animation for the title */
@keyframes pulse {
  0% {
    transform: scale(1);
}
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.coming-soon-title {
  animation: pulse 10s infinite; /* Animate the title */
}
