footer {
  background-color: #2884D8; /* Match the background color of your logo and app */
  color: white; /* Set the default text color to white */
  display: flex;
  justify-content: space-between; /* Align items to the left and right */
  padding: 20px; /* Add some padding for better spacing */
  align-items: center; /* Center items vertically */
  margin-left: 70px;
  margin-right: 70px;
  margin-bottom: 50px;
  margin-top: 100px;
}

footer p {
  margin: 0; /* Remove default margin */
  color: white; /* Ensure text color is white */
}

footer a {
  color: white; /* Ensure link color is white */
  text-decoration: none; /* Remove underline from links */
}

footer a:hover {
  text-decoration: underline; /* Add underline on hover for better user experience */
}

img {
  height: 40px; /* Adjust the height as needed */
  width: auto; /* Maintain aspect ratio */
  margin-right: 10px; /* Add some space to the right of the logo */
}