.App {
  /* background: linear-gradient(135deg, white, #2884D8); */
  background-color: #2884D8; 
  min-height: 100vh; /* Use min-height instead of height */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0; /* Ensure there's no default margin */
}

.center-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80%;
}